
main #section1, main #section2{
    height: 570px;
    width: 100%;
    filter: saturate(0.5);
    float: none;
}
main #section1
{
    background-color: #da4944;
    clear: both;
}
main #section2{
    background-color: #1b3679;
}
main #section1:hover, main #section2:hover{
    filter: none;
}
main section h3:hover, main section h3:focus{
    cursor: pointer;
    border: 5px solid #353537;
}
main section h3 a:hover, main section h3 a:focus{
    color: #353537;
}
main img{
    width: 100%;
    max-width: 1028px;
    height: auto;
    max-height: 570px;
    float: left;
    padding-left: 2%;
}
main a{
    text-decoration: none;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
main h3{
    font-weight: bold;
    text-align: right;
    display: block;
    font-family: 'Quicksand', sans-serif;
    float: left;
    background-color: #fffbef;
    position: absolute;
    bottom: 20%;
    right: 2%;
    border: 5px solid #f8cc48;
    padding: 1% 2% 1% 4%;
    border-radius: 10px 0px 10px 0px;
    font-size: -webkit-xxx-large;
}