
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #90E0EF;
}
body {
    font-family: Cambria, Arial, Helvetica, sans-serif;
    font-size: 100%;
}
header{
    height: 10%;
}
main{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
        "quiz"
        "printout"
        "more";
}
#quiz{
    background-color: #DB6400;
    grid-area: quiz;
}
#PrintOut{
    background-color: #16697A;
    grid-area: printout;
}