
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #90E0EF;
    height: 100%;
}
body {
    font-family: Cambria, Arial, Helvetica, sans-serif;
    height: 100%;
}
header{
    height: 10%;
}
header ul{
    list-style-type: none;
    display: inline;
}
main{
    display: grid;
    height: 80%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(2, 2fr);
    grid-template-areas: 
        "quiz"
        "printout";
}
#quiz{
    background-color: #DB6400;
    grid-area: quiz;
}
#PrintOut{
    background-color: #16697A;
    grid-area: printout;
}
footer{
    height: 10%;
}