main{
    
    float: none;
}
main img{
    text-align: center;
    width: 50%;
    height: 50%;
    max-width: 600px;
    max-height: 600px;
}
main h3{
    padding: 2% auto;
    text-align: center;
}